body {
    font-family: Georgia;
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/learn-css-selectors-visual-rules/hypnotize_bg.png");
}

/* Header Section */
.header {
    background-color: CornFlowerBlue;
    text-align: center;
}

.about-me {
    font-size: 20px;
    opacity: 0.5;
}

h1 {
    color: Azure;
}

/* Projects Section */
.title {
    font-weight: bold;
}
